       <%= link_to "sample app", '#', id: "logo" %>
       <nav>
           <li><%= link_to "Help", static_pages_help_path %></li>
           
           <% if user_signed_in? %>
             <l1><%= link_to "Log out", destory_user_session, method: :delete %></l1>
            <% else %>
             <li><%= link_to "Log in", user_session_path %></li>
           <% end %>
           
         </ul>
       </nav>
      </div>
    </header>