<div class="h-full lg:p-32 lg:bg-indigo-100">
  <div class="lg:w-full h-full  max-w-sm bg-indigo-200 rounded p-3 shadow-lg"> 
    <img class="w-20 mx-auto mb-5" src="https://img.icons8.com/fluent/344/year-of-tiger.png" />

    <%= yield :devise_form %>
  </div>
</div>